Repository cardinal-dev/Cardinal, pull requests merged in 2022-03, with the labels that each got.

#157 migrate scout to separate repo
  .travis.yml
  bin/install.sh
  bin/scout-cli/README.md
  bin/scout-cli/build-cli.sh
  bin/scout-cli/scout-cli.py
  bin/scout-cli/scout_auth.py
  bin/scout-cli/scout_env.py
  bin/scout-cli/scout_info.py
  bin/scout-cli/scout_ssid.py
  bin/scout-cli/scout_sys.py
  bin/scout-cli/templates
  ci/templates/interface
  ci/templates/version
  ci/tests/testregex.py
  ci/tests/testsql.py
  ci/tests/travis-test.sh
  conf/cardinal.service.sample
  conf/cardinal.systemd.conf.sample
  lib/MANIFEST.in
  lib/scout/LICENSE
  lib/scout/README.md
  lib/scout/scout_auth.py
  lib/scout/scout_env.py
  lib/scout/scout_info.py
  lib/scout/scout_ssid.py
  lib/scout/scout_sys.py
  lib/scout/templates/scout_change_ap_ip
  lib/scout/templates/scout_change_ap_name
  lib/scout/templates/scout_create_radius_ssid_24
  lib/scout/templates/scout_create_radius_ssid_5
  lib/scout/templates/scout_create_ssid_24
  lib/scout/templates/scout_create_ssid_5
  lib/scout/templates/scout_delete_ssid_24
  lib/scout/templates/scout_delete_ssid_5
  lib/scout/templates/scout_disable_ap_http
  lib/scout/templates/scout_disable_ap_snmp
  lib/scout/templates/scout_do_tftp_backup
  lib/scout/templates/scout_do_wr
  lib/scout/templates/scout_enable_ap_http
  lib/scout/templates/scout_enable_ap_snmp
  lib/scout/templates/scout_fetcher
  lib/scout/templates/scout_get_hostname
  lib/scout/templates/scout_get_location
  lib/scout/templates/scout_get_users
  lib/scout/templates/scout_reboot_ap
  lib/scout/templates/scout_ssh_ping
  lib/scout/templates/scout_write_default
  lib/setup.py
  requirements.txt
Labels: structure change, dependencies, cardinal

#158 remove obsolete docker setup
  webapp/docker/Dockerfile
  webapp/docker/README.md
  webapp/docker/build-container.sh
  webapp/docker/cardinal.service
  webapp/docker/nginx.conf
  webapp/docker/wsgi.ini
Labels: structure change, cardinal

#160 added traceroute to dependency list
  docs/pages/getting-started.md
Labels: documentation, cardinal

#164 migration: continued work on Cardinal objects
  webapp/cardinal/system/cardinal_sys.py
  webapp/cardinal/templates/dashboard.html
Labels: ui, cardinal
